@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a página principal</h1>
    <p>Desenvolvedor: Romário Ferreira <a href="https://github.com/Romariorfr">GitHub</a>.</p>
</div>
